.desktopOnly {
  display: none;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--diary-details-width, 100%);
  height: var(--diary-details-height, 100%);
  background-color: #fff4f6;
  border-radius: 32px;
  padding: 24px;
  font-size: 18px;
  color: #555;
}

@media (min-width: 1440px) {
  .mobileOnly {
    display: none;
  }

  .desktopOnly {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    width: 1128px;

    --diary-list-width: 387px;
    --diary-list-height: 727px;
    --diary-details-width: 643px;
    --diary-details-height: 727px;
    --emotion-font-size: 16px;
  }
}
