.desktopOnly {
  display: none;
}

@media (min-width: 1440px) {
  .mobileOnly {
    display: none;
  }

  .desktopOnly {
    display: flex;
    margin-left: 32px;
    gap: 32px;

    --diary-list-width: 387px;
    --diary-list-height: 660px;
    --diary-details-width: 643px;
    --diary-details-height: 727px;
    --emotion-font-size: 16px;
    max-height: 100vh;
    max-width: 1440px;
    /* margin: 0 auto; */
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
