.dashboardpage {
  padding: 24px 20px 32px;
}

@media (min-width: 768px) {
  .dashboardpage {
    padding: 24px 32px 32px;
  }
}

@media (min-width: 1440px) {
  .dashboardpage {
    padding-top: 0;
    display: flex;
    gap: 32px;
    overflow-y: hidden;
  }

  .columnFirst {
    max-width: 642px;
  }
  .columnSecond {
    max-width: 390px;
    width: 100%;
  }
}
