.babyTodayCard {
  padding: 24px;
  background-color: #fff4f6;
  border-radius: 32px;
  overflow: auto;
  max-height: 616px;

  margin-bottom: 24px;
}
.babyTodayCard img {
  max-width: 287px;
  height: 216px;
}

.babyTodayCard h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 16px;
}

.babyTodayCardContent {
  margin-bottom: 24px;
}

.babyTodayCardImg {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 24px;
}

.babyTodayCardBlockList {
  font-size: 14px;
  list-style-type: none;
  padding: 0;
}

.babyTodayCardBlockList li:not(:last-child) {
  padding-bottom: 16px;
}

.babyTodayCardBlockInfoBold {
  font-weight: 700;
}

.babyTodayCardDescription {
  margin: 0;
}

@media (min-width: 768px) {
  .babyTodayCardContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .babyTodayCardBlockList {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .babyTodayCard {
    overflow-y: auto;
    min-height: 421px;
    max-height: 616px;
  }
  .babyTodayCard h2 {
    font-size: 24px;
  }
  .babyTodayCard img {
    max-width: 257px;
    height: 194px;
  }
  .babyTodayCardBlockList {
    font-size: 16px;
  }
}
