.detailTitle {
  display: flex;
  gap: 8px;
  align-items: center;
}
.title {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.detailDate {
  display: flex;
  font-size: 12px;
  line-height: 1.6;
  gap: 8px;
  align-items: center;
}
.btn {
  width: 40px;
  height: 40px;
  padding: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.container {
  background-color: #fff4f6;
  margin-top: 32px;
  border-radius: 32px;
  padding: 24px;
  margin-right: 0;
  width: var(--diary-details-width, auto);
  height: var(--diary-details-height, 100vh);
  --emotion-card-bg: rgba(0, 0, 0, 0.05);
  --emotion-font-size: 12px;
  --emotion-font-weight: 600;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
  max-width: 335px;
}
.detailHeader {
  display: flex;
  flex-direction: column;
}

.text {
  margin: 8px 0;
  font-size: 14px;
  line-height: 1.5;
  overflow-wrap: break-word;
}
@media (min-width: 768px) {
  .container {
    --emotion-font-size: 12px;
    /* margin: 32px; */
    margin: 32px auto;
    max-width: 765px;
    width: calc(100% - 64px); /* Добавлено: 100% ширины минус 32px*2 по бокам */
    /* margin-bottom: 0; */
  }
  .detailHeader {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .container {
    margin-right: 0 !important;
    margin-left: 0;
    --emotion-font-size: 14px;
    max-height: 100%;
    position: relative;
    margin-top: 0;
  }
  .container {
    height: 660px;
  }
  .title {
    font-size: 20px;
  }
  .detailDate {
    font-size: 14px;
  }
  .text {
    font-size: 16px;
  }
}
